body
{
    margin: 0;
    padding: 0;
}

header
{
    position: relative;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(135deg,rgb(39, 10, 67) 0%,rgb(42, 20, 86) 100%);;
}

.Logo_cva
{
    position: relative;
    width: 600px;
    height: 200px;
}
.Logo_cva img
{
    position: absolute;
    left: 20px;
    top: 40px;
    width: 150px;
}
.header_text
{
    position: absolute;
    left: 200px;
    top: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Logo_phai
{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 900px;
    height: 200px;
}

.Logo_phai img
{
    width: 300px;
    position: absolute;
    left: 430px;
    bottom: 90px;
}

.header_text2
{
    color: white;
    font-size: x-large;
    font-style: italic;
    position: absolute;
    top: 20px;
    
}

.header_text2 span
{
    font-size: 40px;
}

nav
{
    position: relative;
}
.bn_lable
{
    width: 200px;
    position: absolute;
    top: 0px;
    background-color: rgb(142, 28, 28);
    height: 40px;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    color: white;
}
.bn_news
{
    line-height: 10px;   
    height: 45px;
    float: left;
    position: relative;
    top: 0px;
    background-color: red;
    
}
.bn_news .list
{
    list-style: none;
    
}
.list li
{
    display: inline-block;
    margin-right: 30px;
}
.list li a
{
    color: white;
    text-decoration: none;
    font-size: large;
}

.menu
{
    position: absolute;
    background-color: white;
    height: 45px ;
    top: 40px;
    width: 100%;
}
.menu_list
{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.menu_list li img
{
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
}
.menu_list li 
{
    display: inline-block;
    margin-right: 20px ;
    margin-bottom: 10px;
    position: relative;
}
.menu_list li a
{
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(59, 26, 148);;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu_list li a:hover
{
    color: red;
}

.items_gioithieu
{
    display: none;
    width: 300px;
    height: auto;
    text-align: left;
    position: absolute;
    background-color: white;
    padding: 0px;
    box-shadow: 0 5px 10px grey;
}
.items_gioithieu li
{
    margin: 15px 10px 10px 15px;
    
}
.items_gioithieu li a
{
    font-size: 15px;
    color: rgb(84, 25, 247);
}
.menu_list li:hover .items_gioithieu
{
    display: block;
}

.items_tintuc
{
    display: none;
    width: 300px;
    height: auto;
    background-color: white;
    position: absolute;
    text-align: left;
    padding: 0px;
    box-shadow: 0 5px 10px grey;
}

.items_tintuc li 
{
    margin: 15px 10px 10px 15px;
}
.items_tintuc li a
{
    font-size: 15px;
    color: rgb(84, 25, 247);
}
.menu_list li:hover .items_tintuc
{
    display: block;
}

.items_hd
{
    display: none;
    width: 250px;
    height: auto;
    background-color: white;
    position: absolute;
    text-align: left;
    padding: 0px;
    box-shadow: 0 5px 10px grey;
}
.items_hd li
{
    margin: 15px 10px 10px 15px;
}
.items_hd li a
{
    font-size: 15px;
    color: rgb(84, 25, 247);
}
.menu_list li:hover .items_hd
{
    display: block;
}


article
{
    width: 100%;
    height: 800px;
}
article .main_picture
{
    width: 100%;
    height: 100%;
    background-image: url(IMG/mainpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.bottom_picture
{
    position: relative;
    top: 700px;
    width: 100%;
    height: 100px;
    background-color: rgb(224, 224, 54);
}
